---
title: Contact Us
---

<h2>Contact An Administrator</h2>
<p>See something wrong? Tell us!</p>
<form
  action="https://formspree.io/f/mwkrakrl"
  method="POST"
  data-netlify="true"
>
  <label>
    Your email:
    <input type="text" name="_replyto"></br>
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea></br>
  </label>

  <!-- your other form fields go here -->

  <button type="submit">Send</button>
</form>

<h2>Add A Book</h2>
<p><strong>For Site Members only!</strong></p>
<form
  action="https://formspree.io/f/xyybpvld"
  method="POST"
  data-netlify="true"
>
  <label>
    Author:
    <input type="text" name="author"></br>
  </label>
  <label>
    Username:
    <input type="text" name="username"></br>
  </label>
  <label>
    Email:
    <input type="text" name="_replyto"></br>
  </label>
  <label>
    Your book name:
    <textarea name="book"></textarea></br>
  </label>
  <label>
    Main genre:
    <textarea name="genre"></textarea></br>
  </label>
  <label>
    Cover URL:
    <textarea name="URL"></textarea></br>
  </label>
  <label>
    Book description:
    <textarea name="description"></textarea></br>
  </label>

  <button type="submit">Send</button>
</form>