<div class="post-meta-container">
  <div class="post-meta">
    {%- set date_diff = date(page.date) != date(page.updated) %}
    {%- set time_diff = time(page.date) != time(page.updated) %}
  
    {%- if theme.page_meta.created_at %}
      <span class="post-meta-item">
        <span class="post-meta-item-icon">
          <i class="far fa-calendar"></i>
        </span>
        <span class="post-meta-item-text">{{ __('page.posted') }}</span>
  
        {%- if not date_diff and time_diff and theme.page_meta.updated_at.enable and theme.page_meta.updated_at.another_day %}
          {%- set create_title = __('page.created') + __('symbol.colon') + full_date(page.date) + ' / ' + __('page.modified') + __('symbol.colon') + time(page.updated) %}
        {% else %}
          {%- set create_title = __('page.created') + __('symbol.colon') + full_date(page.date) %}
        {%- endif %}
  
        <time title="{{ create_title }}" itemprop="dateCreated datePublished" datetime="{{ moment(page.date).format() }}">{{ date(page.date) }}</time>
      </span>
    {%- endif %}
  
    {%- if theme.page_meta.updated_at.enable %}
      {%- if not theme.page_meta.updated_at.another_day or date_diff or not theme.page_meta.created_at %}
        <span class="post-meta-item">
          <span class="post-meta-item-icon">
            <i class="far fa-calendar-check"></i>
          </span>
          <span class="post-meta-item-text">{{ __('page.edited') }}</span>
          <time title="{{ __('page.modified') + __('symbol.colon') + full_date(page.updated) }}" itemprop="dateModified" datetime="{{ moment(page.updated).format() }}">{{ date(page.updated) }}</time>
        </span>
      {%- endif %}
    {%- endif %}
  
    {%- if page.author %}
      <span class="post-meta-item">
        <span class="post-meta-item-icon">
          <i class="far fa-user"></i>
        </span>
        <span class="post-meta-item-text">Written by <a href="/authors/#{{ page.username }}">{{ page.author }}</a></span>
      </span>
    {%- endif %}
  
    {%- if config.symbols_count_time.symbols %}
      {%- if theme.symbols_count_time.separated_meta %}
        </div>
        <div class="post-meta">
      {%- endif %}
      <span class="post-meta-item" title="{{ __('symbols_count_time.count') }}">
        <span class="post-meta-item-icon">
          <i class="far fa-file-word"></i>
        </span>
        <span class="post-meta-item-text">{{ __('symbols_count_time.count') + __('symbol.colon') }}</span>
        <span>{{ symbolsCount(page) }}</span>
      </span>
    {%- endif %}
  
    {%- if config.symbols_count_time.time %}
      <span class="post-meta-item" title="{{ __('symbols_count_time.time') }}">
        <span class="post-meta-item-icon">
          <i class="far fa-clock"></i>
        </span>
        <span class="post-meta-item-text">{{ __('symbols_count_time.time') }} &asymp;</span>
        <span>{{ symbolsTime(page, config.symbols_count_time.awl, config.symbols_count_time.wpm, __('symbols_count_time.time_minutes')) }}</span>
      </span>
    {%- endif %}
  </div>
</div>

