<div class="post-meta">
  {%- set date_diff = date(post.date) != date(post.updated) %}
  {%- set time_diff = time(post.date) != time(post.updated) %}

  {%- if theme.post_meta.created_at %}
    <span class="post-meta-item">
      <span class="post-meta-item-icon">
        <i class="far fa-calendar"></i>
      </span>
      <span class="post-meta-item-text">{{ __('post.posted') }}</span>

      {%- if not date_diff and time_diff and theme.post_meta.updated_at.enable and theme.post_meta.updated_at.another_day %}
        {%- set create_title = __('post.created') + __('symbol.colon') + full_date(post.date) + ' / ' + __('post.modified') + __('symbol.colon') + time(post.updated) %}
      {% else %}
        {%- set create_title = __('post.created') + __('symbol.colon') + full_date(post.date) %}
      {%- endif %}

      <time title="{{ create_title }}" itemprop="dateCreated datePublished" datetime="{{ moment(post.date).format() }}">{{ date(post.date) }}</time>
    </span>
  {%- endif %}

  {%- if theme.post_meta.updated_at.enable %}
    {%- if not theme.post_meta.updated_at.another_day or date_diff or not theme.post_meta.created_at %}
      <span class="post-meta-item">
        <span class="post-meta-item-icon">
          <i class="far fa-calendar-check"></i>
        </span>
        <span class="post-meta-item-text">{{ __('post.edited') }}</span>
        <time title="{{ __('post.modified') + __('symbol.colon') + full_date(post.updated) }}" itemprop="dateModified" datetime="{{ moment(post.updated).format() }}">{{ date(post.updated) }}</time>
      </span>
    {%- endif %}
  {%- endif %}

  {%- if post.author %}
    <span class="post-meta-item">
      <span class="post-meta-item-icon">
        <i class="far fa-user"></i>
      </span>
      <span class="post-meta-item-text">Written by <a href="/authors/#{{ post.username }}">{{ post.author }}</a></span>
    </span>
  {%- endif %}

  {%- if post.categories and post.categories.length and theme.post_meta.categories %}
    <span class="post-meta-item">
      <span class="post-meta-item-icon">
        <i class="far fa-folder"></i>
      </span>
      <span class="post-meta-item-text">{{ __('post.in') }}</span>
      {%- for cat in post.categories.toArray() %}
        <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
          <a href="{{ url_for(cat.path) }}" itemprop="url" rel="index"><span itemprop="name">{{ cat.name }}</span></a>
        </span>

        {%- set cat_length = post.categories.length %}
        {%- if cat_length > 1 and loop.index !== cat_length %}
          {{ __('symbol.comma') }}
        {%- endif %}
      {%- endfor %}
    </span>
  {%- endif %}

  {{- next_inject('postMeta') }}

  {%- if config.symbols_count_time.symbols %}
    {%- if theme.symbols_count_time.separated_meta %}
      </div>
      <div class="post-meta">
    {%- endif %}
    <span class="post-meta-item" title="{{ __('symbols_count_time.count') }}">
      <span class="post-meta-item-icon">
        <i class="far fa-file-word"></i>
      </span>
      <span class="post-meta-item-text">{{ __('symbols_count_time.count') + __('symbol.colon') }}</span>
      <span>{{ symbolsCount(post) }}</span>
    </span>
  {%- endif %}

  {%- if config.symbols_count_time.time %}
    <span class="post-meta-item" title="{{ __('symbols_count_time.time') }}">
      <span class="post-meta-item-icon">
        <i class="far fa-clock"></i>
      </span>
      <span class="post-meta-item-text">{{ __('symbols_count_time.time') }} &asymp;</span>
      <span>{{ symbolsTime(post, config.symbols_count_time.awl, config.symbols_count_time.wpm, __('symbols_count_time.time_minutes')) }}</span>
    </span>
  {%- endif %}
</div>
